<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="template.xhtml">
		<ui:define name="title">
		Create a new account
		</ui:define>
		<ui:define name="header">
			<h1>Create a new account</h1>
		</ui:define>
		<ui:define name="content">
			<h:form>
				<table>
					<tr>
						<td><h:outputLabel for="username">Username</h:outputLabel></td>
						<td><h:inputText id="username"
								value="#{accountRegistration.username}"
								p:placeholder="Enter the username" />
								</td>
						<td><h:message id="usernameMessage" for="username" /></td>
					</tr>
					<tr>
						<td><h:outputLabel for="email">Email</h:outputLabel></td>
						<td><h:inputText id="email"
								value="#{accountRegistration.email}"
								p:placeholder="Enter the email" /></td>
						<td><h:message id="emailMessage" for="email" /></td>
					</tr>
					<tr>
						<td><h:outputLabel for="password">Password</h:outputLabel></td>
						<td><h:inputSecret id="password"
								value="#{accountRegistration.password}"
								p:placeholder="Enter the password" /></td>
						<td><h:message id="passwordMessage" for="password" /></td>
					</tr>
					<tr>
						<td colspan="3"><h:commandButton value="Create account"
								action="#{accountRegistration.create}" /></td>
					</tr>
				</table>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>