<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:body>
	<ui:composition template="template.xhtml">
		<ui:insert name="metadata">
			<f:metadata>
				<f:viewParam id="id" name="id" value="#{accountBean.id}" />
				<f:viewAction action="#{accountBean.init}" />
			</f:metadata>
		</ui:insert>
		<ui:define name="title">Account #{accountBean.account.id}</ui:define>
		<ui:define name="header">
			<h1>Account #{accountBean.account.id}</h1>
		</ui:define>
		<ui:define name="content">
		#{accountBean.account.username}
		<h:link outcome="account-list" value="accounts" />
		</ui:define>
	</ui:composition>
</h:body>
</html>