<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:body>
	<ui:composition template="template.xhtml">
		<ui:insert name="metadata">
			<f:metadata>
				<f:viewParam id="id" name="page" value="#{accountsBean.page}" />
				<f:viewAction action="#{accountsBean.init}" />
			</f:metadata>
		</ui:insert>
		<ui:define name="title">Accounts</ui:define>
		<ui:define name="header">
			<h1>Accounts</h1>
		</ui:define>
		<ui:define name="content">
			<h:dataTable id="accounts" value="#{accountsBean.accounts}" var="account">
				<h:column>
					<f:facet name="header">username</f:facet>
					<h:link outcome="account-show" value="#{account.username}">
						<f:param name="id" value="#{account.id}" />
					</h:link>
				</h:column>
			</h:dataTable>
			<h:link outcome="account-list" value="previous" rendered="#{accountsBean.hasPrevious}">
				<f:param name="page" value="#{accountsBean.page - 1}" />
			</h:link>
			<h:link outcome="account-list" value="next" rendered="#{accountsBean.hasNext}">
				<f:param name="page" value="#{accountsBean.page + 1}" />
			</h:link>
		</ui:define>
	</ui:composition>
</h:body>
</html>