<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="template.xhtml">
		<ui:define name="title">My JEE App</ui:define>
		<ui:define name="header">
			<h1>My JEE App</h1>
			<h:graphicImage library="mytheme" name="images/java_duke.jpg" />
		</ui:define>
		<ui:define name="content">
			<h2>Welcome to #{app.name}</h2>
			<p:colorPicker value="#{colorView.colorInline}" mode="inline" />
			<h:outputText value="It is #{time.date}">
				<f:convertDateTime dateStyle="long" type="date" />
			</h:outputText>
			<br />
			<h:outputText value="#{time.date}" converter="myDateTimeConverter" />
			<br />
			<h:link value="Create an account" outcome="account-creation" />
		</ui:define>
	</ui:composition>
</h:body>
</html>