<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
		href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</h:head>
<h:body>
	<div id="container">
		<div class="row">
			<div class="col-md-8">
				<h:outputText value="Hello World" />
				<h:outputText value="#{backingBeanDemo.hello}" />
			</div>
			<div class="col-md-4">
				<h1>#{backingBeanDemo.hello}</h1>
				<ul>
					<li>#{backingBeanDemo.account.username}</li>
					<li>#{backingBeanDemo.account.email}</li>
				</ul>
			</div>
		</div>
	</div>
	<h:dataTable value="#{backingBeanDemo.accounts}" var="account">
		<h:column>
			<f:facet name="header">
				<h:outputText value="Username" />
			</f:facet>
		#{account.username}
    </h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="Email" />
			</f:facet>
        #{account.email}
    </h:column>
	</h:dataTable>
</h:body>
</html>