header h1 {
	text-align: center;
}

nav ol {
	padding-left:0px;
}

nav ol li {
	display:inline-block;
}

article img {
	width:600px;
}

article {
	margin-bottom:30px;
}

article h1 {
	font-size:18px;
}

#wrapper {
	width: 950px;
	margin: 0 auto;
}

#main {
	overflow: auto;
	width:950px;
}

#left-col {
	float:left;
	width: 600px;
	margin-right:50px;
}

#right-col {
	float:left;
	width: 300px;
}

footer {
	clear:both;
}