<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:insert name="metadata"></ui:insert>
<h:head>
	<!-- <h:outputStylesheet id="default" name="default.css"
		<h:outputStylesheet name="cssLayout.css" /> -->
		<title><ui:insert name="title"></ui:insert></title>
</h:head>
<h:body>
	<header>
		<ui:insert name="header">Title content</ui:insert>
	</header>
	<div>
		<ui:insert name="content">Content</ui:insert>
	</div>
</h:body>
</html>